/* Universal */

body.light-mode {
    background-color: #F4F4F9;
    color: #112D4E;
}

/* Navbar */

.navbar.light-mode {
    background-color: #3F72AF ;
}

.navbar .nav-list .nav-items .nav-links.light-mode {
    color: #F4F4F9;
}

.navbar .nav-list .nav-items .nav-links:hover {
    color: #112D4E;
}

.navbar .nav-list .nav-items .nav-links:active {
    transform: scale(0.9);
}

.navbar .nav-list .nav-items .nav-links:hover::after {
    width: 100%;
}

/* Home Section */

.home .home-background.light-mode {
    background-color: #00bcfb;
}

.home .home-background .main-heading .name.light-mode {
    color: #F9A826;
}

.home .home-background .project-btn.light-mode {
    background-color: #3F72AF;
}

.home .home-background .project-btn:hover {
    background-color: #F9A826;
}

.home .home-background .project-btn:active {
    transform: scale(0.9);
}

.home .home-background .project-btn .project-btn-link.light-mode {
    color: #F4F4F9;
}

/* About Section */

.about .about-background {
    background-color: #F4F4F9;
}

/* Project Section */

.project .project-background.light-mode {
    background-color: rgba(0, 188, 251, 0.2);
}

.project .project-background .projects .pro.light-mode {
    background-color:rgba(0, 188, 251, 0.2);
}

.project .project-background .btn.light-mode {
    background-color: #3F72AF;
}

.project .project-background .btn:hover {
    background-color: #F9A826;
}

.project .project-background .btn:active {
    transform: scale(0.9);
}

.project .project-background .btn .btn-link.light-mode {
    color: #F4F4F9;
}

/* Contact Section */

.contact .contact-background.light-mode {
    background-color: #797777
}

.contact .contact-background .copyright.light-mode {
    background-color: #000;
}