/* Menu Bar hidden for big screens */

.hidden {
  display: none;
}

/* Navbar styling */

.navbar {
  /* border: 2px solid black; */
  height: 2.5rem;
}

label {
  /* border: 2px solid black; */
  width: 30px;
  height: 15px;
}

label input {
  width: 30px; /* Custom checkbox size */
  height: 15px;
}

label .check::before {
  left: -15px;
  width: 4px;
  height: 4px;
}

label .check::after {
  right: -15px;
  width: 4px;
  height: 4px;
}

label .botn {
  width: 15px;
  height: 15px;
}

label .botn::before {
  width: 8px;
  height: 16px;
}

label .botn::after {
  width: 8px;
  height: 16px;
}

label input:checked ~ .botn {
  left: 16px;
}

.navbar .nav-list {
  /* border: 2px solid black; */
  font-size: 1rem;
}

.navbar .nav-list .nav-items .nav-links {
  /* border: 2px solid black; */
  padding: 8px;
}

/* Home Section */

.home {
  /* border: 2px solid black; */
  height: 60vh;
}

.home .home-background {
  /* border: 2px solid black; */
  gap: 2.5rem;
}

.home .home-background::before {
  width: 150%;
  height: 150%;
  right: -50%;
  bottom: -50%;
}

.home .home-background .main-heading {
  font-size: 2.5rem;
}

.home .home-background .intro {
  font-size: 1rem;
}

.home .home-background .project-btn .project-btn-link {
  /* border: 2px solid black; */
  padding: 15px;
  font-size: 1rem;
}

/* About Section */

.about {
  /* border: 2px solid black; */
  height: 140vh;
}

.about .about-background {
  /* border: 2px solid black; */
  gap: 3rem;
  padding: 15px;
}

.about .about-background .about-heading {
  font-size: 2rem;
}

.about .about-background .my-picture {
  /* border: 2px solid black; */
  width: 130px;
  height: 130px;
}

.about .about-background .about-me {
  font-size: 1rem;
}

/* Project Section */

.project {
  /* border: 2px solid black; */
  height: 180vh;
}

.project .project-background {
  /* border: 2px solid black; */
  gap: 4rem;
}

.project .project-background .project-heading {
  font-size: 2rem;
}

.project .project-background .projects {
  /* border: 2px solid black; */
  gap: 2.5rem;
}

.project .project-background .projects .pro .pro-heading {
  font-size: 1.2rem;
}

.project .project-background .projects .pro .pro-image {
  width: 250px;
  height: 125px;
}

.project .project-background .projects .pro .btn .btn-link {
  /* border: 2px solid black; */
  padding: 8px;
  font-size: 0.8rem;
}

/* Contact Section */

.contact {
  /* border: 2px solid black; */
  height: 50vh;
}

.contact .contact-background {
  /* border: 2px solid black; */
  gap: 0rem;
}

.contact .contact-background::before {
  top: 0%;
}

.contact .contact-background .contact-info {
  /* border: 2px solid black; */
  gap: 0.8rem;
  margin-top: 20px;
}

.contact .contact-background .contact-info .contact-heading {
  font-size: 2rem;
}

.contact .contact-background .contact-info .suggestion {
  font-size: 1rem;
}

.contact .contact-background .contact-info .email {
  font-size: 1rem;
}

.contact .contact-background .contact-info .phone {
  font-size: 1rem;
}

.contact .contact-background .contact-info .icons {
  /* border: 2px solid black; */
  padding: 8px;
  gap: 2rem;
}

.contact .contact-background .contact-info .icons .icon-link .icon {
  font-size: 2rem;
  /* border: 2px solid black; */
  padding: 8px;
}