/* Menu Bar hidden for big screens */

.hidden {
  display: block;
}

.menu-icon {
  /* border: 2px solid black; */
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1.2rem;
}

.menu {
  transition: 0.5s;
  /* border: 2px solid black; */
  padding: 5px;
}

/* Navbar styling */

.navbar {
  /* border: 2px solid black; */
  height: 4rem;
  top: 7%;
}

.navbar.hide {
  transform: translateY(-170%);
  transition: 1.5s;
}

label {
  /* border: 2px solid black; */
  top: 7%;
}

.navbar .nav-list {
  /* border: 2px solid black; */
  font-size: 1rem;
}

.navbar .nav-list .nav-items .nav-links {
  /* border: 2px solid black; */
  padding: 8px;
}

/* Home Section */

.home {
  /* border: 2px solid black; */
  margin-top: 58px;
  height: 60vh;
  transition: 0.5s;
}

.home.margin-top {
  margin-top: 112px;
  transition: 1s;
}

.home .home-background {
  /* border: 2px solid black; */
  gap: 2rem;
}

.home .home-background::before {
  width: 125%;
  height: 125%;
  right: 0%;
  bottom: 0%;
  top: 0;
  left: 0;
}

.home .home-background .main-heading {
  font-size: 2rem;
}

.home .home-background .intro {
  font-size: 0.8rem;
}

.home .home-background .project-btn .project-btn-link {
  /* border: 2px solid black; */
  padding: 13px;
  font-size: 0.8rem;
}

/* About Section */

.about {
  /* border: 2px solid black; */
  height: 50vh;
}

.about .about-background {
  /* border: 2px solid black; */
  gap: 2.5rem;
  padding: 10px;
}

.about .about-background .about-heading {
  font-size: 1.5rem;
}

.about .about-background .my-picture {
  /* border: 2px solid black; */
  width: 100px;
  height: 100px;
}

.about .about-background .about-me {
  font-size: 0.8rem;
}

/* Project Section */

.project {
  /* border: 2px solid black; */
  height: 400vh;
}

.project .project-background {
  /* border: 2px solid black; */
  gap: 3rem;
}

.project .project-background .project-heading {
  font-size: 1.5rem;
}

.project .project-background .projects {
  /* border: 2px solid black; */
  gap: 2rem;
  flex-direction: column;
}

.project .project-background .projects .pro .pro-heading {
  font-size: 1rem;
}

.project .project-background .projects .pro .pro-image {
  width: 250px;
  height: 125px;
}

.project .project-background .projects .pro .btn .btn-link {
  /* border: 2px solid black; */
  padding: 8px;
  font-size: 0.8rem;
}

/* Contact Section */

.contact {
  /* border: 2px solid black; */
  height: 45vh;
}

.contact .contact-background {
  /* border: 2px solid black; */
  gap: 1rem;
}

.contact .contact-background::before {
  top: 0%;
}

.contact .contact-background .contact-info {
  /* border: 2px solid black; */
  gap: 0.6rem;
  margin-top: 20px;
}

.contact .contact-background .contact-info .contact-heading {
  font-size: 1.5rem;
}

.contact .contact-background .contact-info .suggestion {
  font-size: 0.8rem;
}

.contact .contact-background .contact-info .email {
  font-size: 0.8rem;
}

.contact .contact-background .contact-info .phone {
  font-size: 0.8rem;
}

.contact .contact-background .contact-info .icons {
  /* border: 2px solid black; */
  gap: 1.5rem;
}

.contact .contact-background .contact-info .icons .icon-link .icon {
  font-size: 1.5rem;
  /* border: 2px solid black; */
}

.contact .contact-background .copyright .copyright-text {
  font-size: 0.8rem;
}
